<div class="row">
  <form class="form-inline form-create" role="form">
    <div class="formContainer">
      

      <div class="row">
          <div class="progress step1">
          </div>
        </div>
      <div class="stepOnePanel steps">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content-entry">
              <div class="row">
                {{#if isNew}}
                <div class="col-md-6 {{#if hasSingleBusiness}}hide{{/if}}">
                  <label for="business"><i class="glyphicon glyphicon-ok"></i>For This Business</label>
                  <select name="business" class="business select-chosen form-control">
                    {{#each businesses}}
                    <option value="{{id}}">{{attributes.name}}</option>
                    {{/each}}      
                  </select>
                </div>
                {{/if}}
              </div>
 <div class="row">
            <div class="col-md-12">

                <label for="name"><i class="glyphicon glyphicon-star"></i>Event Name<span class="required">*</span></label>
                <input type="text" class="form-control name" name="name" placeholder="Event Name">
            </div>
</div>
 <div class="row">
            <div class="col-md-12">
              <div class="address-finder">
                <label for="host"><i class="glyphicon glyphicon-map-marker"></i>Venue<span class="required">*</span></label>  
                <div class="choose_venue">
                  <select type="text/input" name="host" class="form-control host select-chosen">
                    {{#each businesses}}
                    <option value="{{id}}">{{attributes.name}}</option>
                    {{/each}}
                    {{#each venues}}
                    <option value="{{id}}">{{attributes.name}}</option>
                    {{/each}}                
                  </select>
                  <a class="addressButton" data-toggle="tooltip" title="Click here to add a custom address" data-placement="right" data-html='true'><i class="glyphicon glyphicon-plus pull-right"></i></a> 
                </div>
                <div class="custom_venue" style="display:none">
                  <input type="text" class="form-control hostAddress" name="hostAddress" />
                  <a class="venueButton" data-toggle="tooltip" title="Click here to remove a custom address and choose another venue from a list or enter a new custom address." data-placement="right" data-html='true'><i class="glyphicon glyphicon-minus pull-right switch_venue"></i></a> 
                </div>
              </div>
            </div>
</div>
            <div class="row">
				<div class="col-md-4">
                <label for="start"><i class="glyphicon glyphicon-calendar"></i>When<span class="required">*</span></label>
                <input type="text" class="form-control datePicker startDate" name="start"  placeholder="Event Date">
</div>
       
              <div class="col-md-4">
                <label for="startTime"><i class="glyphicon glyphicon-time"></i>Start Time<span class="required">*</span></label>
                <input type="text" class="form-control timepicker startTime" name="startTime"  placeholder="Start Time">
              </div>
              <div class="col-md-4">
                <label for="endTime"><i class="glyphicon glyphicon-time"></i>End Time</label>
                <input type="text" class="form-control timepicker endTime" name="endTime"  placeholder="End Time">
              </div>
            </div>
<div class="row">
	 <div class="col-md-12">
        <input type="checkbox" name="recurring" class="repeats"/> <label>Is this a repeating event?</label>
      </div>
            <div class="recurringScheduleDetails">
              <div class="row">
                <div class="col-md-4">
                  <label for="recurrenceInterval"><i class="glyphicon glyphicon-repeat"></i>Repeats</label>
                  <select name="recurrenceInterval" class="form-control">
                    <option value="DAILY">Every Day</option>
                    <option value="WEEKLY">Weekly</option>
                    <option value="MONTHLY">Monthly</option>
                  </select>
                </div>
				<div class="col-md-4 dayOfWeekCountContainer">
	                  <label for="dayOfWeekCount">On the</label>
	                  <select name="dayOfWeekCount" class="form-control">
	                    <option value="1">First</option>
	                    <option value="2">Second</option>
	                    <option value="3">Third</option>
	                    <option value="4">Fourth</option>
	                    <option value="0">Last</option>
	                  </select>
	                </div>
                <div class="col-md-4">
                  <label for="end"><i class="glyphicon glyphicon-calendar"></i>Until<span class="required">*</span></label>
                  <input type="text" class="form-control datePicker endDate" name="end"  placeholder="Event Date">  
				          
                </div>
				
              </div>
              <div class="row">
               
                <div class="col-md-3 dayOfWeekContainer">
                  <input type="checkbox" name="MONDAY" value="2" /> <label>Monday</label><br />
                  <input type="checkbox" name="TUESDAY" value="3" /> <label>Tuesday</label><br />
			
				</div>
				<div class="col-md-3 dayOfWeekContainer">
					<input type="checkbox" name="WEDNESDAY" value="4" /> <label>Wednesday</label><br />
                  <input type="checkbox" name="THURSDAY" value="5" /> <label>Thursday</label><br />
</div>
	<div class="col-md-3 dayOfWeekContainer">
				<input type="checkbox" name="FRIDAY" value="6" /> <label>Friday</label><br />
                  <input type="checkbox" name="SATURDAY" value="7" /> <label>Saturday</label><br />
                </div>
				<div class="col-md-3 dayOfWeekContainer">
                  <input type="checkbox" name="SUNDAY" value="1" /> <label>Sunday</label><br />        
                </div>
              </div>
            </div>
</div>
            
          
        </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 preview">
              <div class="thumbnail">
<div class="preview-header"><h4>-Event Preview-</h4></div>
                <img class="imagePreview" src="http://placehold.it/200x100" alt="Preview Image location">
                <div class="caption">
                 <h3 class="previewName">Event name</h3>
                        <p class="date_preview">Event Date</p>
                        <dl>
                          <dd>Starts:</strong> <span class="start_time_preview"></span></dd>

                          <dd>Ends:</strong> <span class="end_time_preview"></span></dt>

                          <dd>Venue/Location:</strong> <span class="venue_preview"></span></dd>

                      
                          <dd>Address:&nbsp;<span class="map_preview"></span></dd>
  
						
                        </dl>
                </div>
            </div>
          </div>
			<div class="row controls">
	            <div class="right"><button type="button" class="btn btn-success nextStepOne">Next</button></div>
				<div class="left"><button type="cancel" class="btn btn-default cancel">Cancel</button></div>
	          </div>
        </div>
	
        </div>
      <div class="stepTwoPanel steps" style="display:none;">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content-entry">
			<div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="cost"><i class="glyphicon glyphicon-usd"></i>Cost
              <a class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" title="Your cost should be a number, e.g. 9.99, and should represent the lowest cost available." data-placement="right"></a></label>
              <input type="text" name="cost" value="0" class="cost form-control" placeholder="0.00"/>
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="ticketUrl"><i class="glyphicon glyphicon-shopping-cart"></i>Ticket Link</label>
              <input type="text" name="ticketUrl" class="form-control" placeholder="Ticket Link"/>        
            </div>
        </div>
              <div class="row">
                <div class="col-md-12 description-container">
                  <label for="description"><i class="glyphicon glyphicon-pencil"></i>Description<span class="required">*</span></label>
                  <div id="toolbar" class="btn-toolbar" href="javascript:;" unselectable="on" role="toolbar" style"display: none;margin-bottom:0px;">
                  <nav class="nav navbar-form">
                    <div class="btn-group pull-right">
                      <a class="btn btn-small btn-default" data-wysihtml5-command="bold" title="CTRL+B" title="Bold Text"><i class="glyphicon glyphicon-bold"></i></a> 
                      <a class="btn btn-small btn-default" href="javascript:;" unselectable="on" data-wysihtml5-command="italic" title="CTRL+I" title="Italicize Text"><i class="glyphicon glyphicon-italic"></i></a>
                      <a class="btn btn-small btn-default" data-wysihtml5-command="insertUnorderedList" href="javascript:;" unselectable="on" title="Create a List"><i class="glyphicon glyphicon-list"></i></a>
                      <a class="btn btn-small btn-default" href="javascript:;" unselectable="on" data-wysihtml5-command="insertSpeech" title="Dictate your event description"><img class="microphone" src="/client/images/microphone_icon.png"></a>
                  </nav>
                  </div>
                  <textarea class="form-control description" name="description" placeholder="Enter event description here" id="description-textarea"></textarea>
                </div>
              </div>
              <div class="row" id="image-chooser-container">
				<div class="col-md-12">
                <label for="imageUrl"><i class="glyphicon glyphicon-picture"></i>Event Image</label>
                <div style="display:inline;;margin-bottom:0px!important;">
                  <a class="helpTip" data-toggle="tooltip" title="<ul><li>Your image should be in .jpg, .png, or .gif format.</li><li>Choose a high resolution image. Hoopla.io will automatically scale your image for best results across media channels.</li></ul>" data-placement="bottom" data-html='true'><span class="glyphicon glyphicon-question-sign"></span></a>    
                </div>
                <div class="well">
                  {{#if imageUrl}}      
                  <img src="{{imageUrl}}" class="currentImage" />
                  {{/if}}
                  <div class="image-controls">
                    <div class="imageChooser"></div>
                    {{#if hasMedia}}
                    <a class="browseLibBtn pull-right" data-toggle="modal" data-target="#media-library-popover-{{id}}">Browse Library</a>
                    {{/if}}
                  </div>
                </div>
                <div class="default-image-actions"><a href="#" class="btn btn-info btn-block change-image-btn">Change Image</a></div>
              </div>
</div>
            
          </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  preview">
              <div class="thumbnail">
<div class="preview-header"><h4>-Event Preview-</h4></div>
                <img class="imagePreview" src="http://placehold.it/200x100" alt="Preview Image">
                <div class="caption">
                  <h3 class="previewName">Event name</h3>
                        <p class="date_preview"></p>
                        <dl>
                          <dd>Start:&nbsp;<span class="start_time_preview"></span></dd>
                          <dd>End:&nbsp;<span class="end_time_preview"></span></dd>
                          <dd>Venue/Location:&nbsp;<span class="venue_preview"></span></dd>
						<dd>Address:&nbsp;<span class="map_preview"></span></dd>
						<dd>Cost:&nbsp;<span class="cost_preview">FREE</span></dd>
                          <dd>Description:&nbsp;<span class="description_preview"></span></dd>
                        </dl>
            </div>
          </div>
        </div>
		<div class="row controls">

        <div class="right"><button type="button" class="btn btn-success nextStepTwo">Next</button></div>
        <div class="left"><button type="button" class="btn btn-default stepTwoBack">Back</button></div>
      </div>
        </div>
      </div>
      <div class="stepThreePanel steps" style="display:none;">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content-entry">
            <div class="row">
              <div class="gray-tags col-md-12	">
                <label for="tags">Event Categories
                <a class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" title="Categories help customers discover your event - Try <em>Historical</em> or <em>Rockabilly</em>" data-placement="right" data-html='true'></a>
                </label>
                <select class="form-control select-chosen" multiple="true" name="tags">
                  {{#each eventTags}}
                  <option value="{{attributes.slug}}">{{attributes.text}}</option>
                  {{/each}}
                </select>

              </div>
            </div>
          <div class="row">

		              <div class="event-website col-md-12">
		                <label for="website"><i class="glyphicon glyphicon-globe"></i>Event Website</label>
		                <input type="url" class="form-control website" name="website"  placeholder="Event Website"/>
		              </div>
					</div>
					<div class="row">
		              <div class="event-contact col-md-6">
		                <label for="contact"><i class="glyphicon glyphicon-user"></i>Event Contact</label>
		                <input type="text" class="form-control" name="contactName"  placeholder="Event Contact"/>
						</div>
		              <div class="event-phone col-md-6">
		                <label for="phone"><i class="glyphicon glyphicon-phone"></i>Event Phone</label>
		                <input type="phone" class="form-control" name="contactPhone"  placeholder="Event Phone"/>
		              </div>

		            </div>

		            <div class="row"><hr><h5 class="white col-md-12">When publishing this event to Local Ruckus and your web calendar in step 4, you can also post immediately to your social media channels:</h5>
		              <div class="facebook_box col-md-6"> <div class="channel-icon"></div><label class="form-label"><input type="checkbox" class="checkbox facebook-checkbox" />&nbsp;Post the details of this event to my Facebook Timeline when publishing.&nbsp;<a class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" title="You can use our default Facebook post content or customize to your needs before publishing. To ensure your event is well publicized to your social networks, we recommend scheduling additional Facebook posts from the event dashboard." data-placement="top" data-html='true'></a></label>
		</div>

		<div class="twitter_box col-md-6"><div class="channel-icon"></div><label class="form-label"><input type="checkbox" class="checkbox twitter-checkbox" />&nbsp;Publish a Tweet about this event to my feed when publishing. &nbsp;<a class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" title="You can use our default tweet content or customize to your needs before publishing. To ensure your event is well publicized to your social networks, we recommend scheduling additional tweets from the event dashboard." data-placement="top" data-html='true'></a></label>

		</div>

		          </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 preview-container preview">
            <div class="thumbnail">
              <div class="preview-header"><h4>-Event Preview-</h4></div>
                <div class="web">
                  <div class="col-xs-12">
                    <div class="">
                      <img class="imagePreview" src="http://placehold.it/200x100">
                      <div class="caption">
                        <h3 class="previewName">Event name</h3>
                        <p class="date_preview"></p>
                        <dl>
                         <dd>Start:&nbsp;<span class="start_time_preview"></span></dd>
                          <dd>End:&nbsp;<span class="end_time_preview"></span></dd>
                          <dd>Venue/Location:&nbsp;<span class="venue_preview"></span></dd>
						<dd>Address:&nbsp;<span class="map_preview"></span></dd>
						<dd>Cost:&nbsp;<span class="cost_preview">FREE</span></dd>
                          <dd>Description</strong><span class="description_preview"></span></dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
				<div class="row controls">

		        <div class="right"><button type="button" class="btn btn-success nextStepThree">Next</button></div>
		        <div class="left"><button type="button" class="btn btn-default stepThreeBack">Back</button></div>
		      </div>
		        </div>
          </div>
        <div class="stepFourPanel steps" style="display:none;">
<div class="row">
        <div class="col-md-12 preview-container preview">
          <div class="thumbnail">
            <div class="preview-header"><h4>-Event Preview-</h4></div>
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
              <li class="web_tab active"><a href="#web" data-toggle="tab">Web</a></li>
              <li class="facebook_tab"><a href="#facebook" data-toggle="tab">Facebook</a></li>
              <li class="twitter_tab"><a href="#twitter" data-toggle="tab">Twitter</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="web">
<div class="row">	<img class="imagePreview" src="http://placehold.it/300x200"></div>
				 <h3 class="previewName">Event name</h3>
                <p class="date_preview"></p>
                <div class="col-md-6">
    <div class="">
                    
                    <div class="caption">
                     
                    	<dl>
                       <dd>Start:&nbsp;<span class="start_time_preview"></span></dd>
                        <dd>End:&nbsp;<span class="end_time_preview"></span></dd>
                        <dd>Venue/Location:&nbsp;<span class="venue_preview"></span></dd>
                        <dd>Address:&nbsp;<span class="map_preview"></span></dd>
                        <dd>Cost:&nbsp;<span class="cost_preview">FREE</span></dd>
                        <dd>Description:&nbsp;<span class="description_preview"></span></dd>
                      </dl>
                    </div>
                  </div>

                </div>
				<div class="col-md-5 col-md-offset-1">
				<dl>
				<dd>Event Categories:&nbsp;<span class=""></span></dd>
				<dd>Ticketing Link:&nbsp;<span class=""></span></dd>
				<dd>Event Website Link:&nbsp;<span class=""></span></dd>
				<dd>Event Contact:&nbsp;<span class=""></span></dd>
				<dd>Event Phone:&nbsp;<span class=""></span></dd>
				
				</dl>
				</div>

              <div class="tab-pane fade" id="facebook">
                <div class="facebook_container">
                  
                </div>
              </div>
              <div class="tab-pane fade" id="twitter">
                <div class="twitter_container">
                  
                </div>
              </div>
            </div>
          </div>
     
</div>		
          </div>
      </div>
	<div class="row controls">
	            <div class="right"><button type="submit" class="btn btn-success btn-lg saveButton submit">Publish</button></div>
	            <div class="left"><button type="button" class="btn btn-default stepFourBack">Back</button></div>
	          </div>
      </div>
        </div>
      </div>
    </div>

  </div>
</div>      
</form>
</div>
<div class="modal fade" id="media-library-popover-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>My Media Library</h4>
      </div>
      <div class="modal-body library-contents">
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-info">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>