 <div class="row">
  <div class="col-sm-7 col-lg-12 event-pages"></div>
  </div>
<div class="row event-page-preview">
  <img src="{{coverPhoto}}" alt="facebook cover image" />
  <h4>{{eventTitle}}</h4>
  <div class="event-times"><span class="event-day"><i class="glyphicon glyphicon-calendar"></i>{{dayOfWeek}}</span><span class="event-time"><i class="glyphicon glyphicon-time"></i>{{startDate}}</span><span class="event-weather"><i class="icon-moon"></i>Sunny and 75</span></div>
  <div class="event-description"><span><i class="icon-align-left"></i>{{description}}</span></div>
  <div class="event-map"></div>
</div>
<div class="actions pull-right">
  <button type="button" class="btn btn-success-sm createFbEventBtn">Continue</button>
  <button type="button" class="btn btn-default cancelBtn">Cancel</button>
</div>
</div>

