{{#if showTwitter}}
<div class="col-xs-12 col-lg-12" id="twitterPanel">
    <div class="col-md-6">
<div class="twitter-preview">
      <div class="preview-content">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src={{twitterProfileImageUrl}} alt="twitter profile picture">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{twitterHandle}}</h4>
            <div class="preview-message tw">{{previewText}}</div>
          </div>
          <p class="help-block"><span class="counter safe"></span> characters remaining.</p>
        </div>    
      </div>
	
    </div>
	<div class="buttons">
        <button type="button" class="btn btn-success showTweetFormBtn">Customize this Tweet</button>
      </div>
</div>
<div class="col-md-6">
   <form class="promoRequestFormTwitter" style="display:none">
	 <div class="row">

              <h4>Customize Tweet</h4>
     </div>
    <div class="row">
      <label for="description"><i class="glyphicon glyphicon-pencil"></i>Tweet</label>
      <textarea class="form-control span3 tweetMessage description_preview" name="message" placeholder="Tweet">{{previewText}}</textarea>
      <p class="help-block"><span class="counter"></span> characters remaining.</p>
    </div>
  <div class="row">	

      
      <div class="radio">
        <label>
          <input type="radio" name="linkRadios" id="linkLR" value="lr" checked class="tw-lrLink-box">
          <i class="glyphicon glyphicon-transfer"></i>Include link to Local Ruckus event page
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="linkRadios" id="linkCustom" value="custom" class="tw-cusLink-box">
          <i class="glyphicon glyphicon-transfer"></i>Include my own link
        </label>
      </div>
      <div class="inputLink" style="display:none">
        <input type="url" class="form-control customLinkBox" name="linkBox" placeholder="http://www.somelink.com/" />
      </div>

  </div>
  <div class="row" style="margin-bottom:50px;">
    <div class="col-md-8">
      <div class="radio">
        <label>
          <input type="radio" name="schedRadios" id="immediate" value="imm" checked class="tw-immediate-box">
          <i class="glyphicon glyphicon-transfer"></i>Post Immediately
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="schedRadios" id="scheduled" value="sch" class="tw-scheduled-box">
          <i class="glyphicon glyphicon-calendar"></i>Schedule the post for later.
        </label>
      </div>
      <div class="row inputTimes" style="display:none">
        <div class="col-md-3 twPostDate">
          <label for="start"><i class="glyphicon glyphicon-calendar"></i>When</label>
          <input type="text" class="form-control datePicker twPromoDate" name="date">
        </div>
        <div class="col-md-3 twPostTime">
          <label for="startTime"><i class="glyphicon glyphicon-time"></i>Start Time</label>
          <input type="text" class="form-control timepicker twStartTime" name="startTime">
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
</div>
{{else}}
  <div class="col-xs-12 col-lg-8" id="twitterAuthPanel">
    <div class="row">
      <h3>No Twitter account linked</h3>
      <p>This business does not have any Twitter accounts linked to it yet. To promote to Twitter, please click the link below and authorize us to use your Twitter account</p>
      <p class="social-connection tw-not-auth"><a class="twitter socialNotConnected" id="{{_id}}" href="#"><img  src="/client/images/twitter-not-connected.png">Connect Twitter account</a></p>
    </div>
  </div>
{{/if}}