 <div>
  <div class="col-sm-6 col-lg-6 event-pages"></div>
  </div>
<div class="row event-page-preview">
  <img src="{{coverPhoto}}" class="facebook-cover-image" alt="facebook cover image" />
  <h4>{{eventTitle}}</h4>
  <div class="event-times"><span class="event-day"><i class="glyphicon glyphicon-calendar"></i>{{dayOfWeek}}</span><span class="event-time"><i class="glyphicon glyphicon-time"></i>{{startDate}}</span></div>
  <div class="event-description"><span><i class="icon-align-left"></i>{{description}}</span></div>
  <div class="event-map google-maps" id="map"></div>
</div>
{{#if showFormControls}}
<div class="actions pull-right">
  <button type="button" class="btn btn-success-sm createFbEventBtn">Create it!</button>
</div>
{{/if}}
</div>

