 <div class="row">
  <div class="col-sm-7 col-lg-4 event-pages"></div>
  </div>
<div class="row">
  <img src={{profileImgUrl}} alt="facebook image" />
  <h4>{{name}}</h4>
  <div class="event-times"><span>{{startDayOfWeek}}</span><span>{{startDate}}</span><span>Sunny and 75</span></div>
  <div class="event-description"><span>{{description}}</span></div>
  <div class="event-map"></div>
</div>
<div class="row">
  <div class="media">
    <a class="pull-left" href="#">
    <img class="media-object" src={{profileImgUrl}} alt="facebook profile picture">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{profileName}}</h4>
      <div class="preview-message"><div class="event-times"><span>{{startDayOfWeek}} at {{start}}</span></div>
  <div class="event-address"><span>{{eventAddress}}</span></div>
  <div class="event-map" style="height:150px;width:500px;"></div></div>
    </div>
  </div>

</div>
