{{#if showTwitter}}
<div class="col-xs-12 col-lg-12" id="twitterPanel"><p class="intro">Hoopla.io has created a Tweet for you. This tweet will be sent as soon as you publish your event or if you'd prefer, you may customize the tweet and schedule it's delivery..</p>
    <div class="col-md-6">
<div class="twitter-preview">
      <div class="preview-content">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src={{twitterProfileImageUrl}} alt="twitter profile picture">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{twitterHandle}}</h4>
            <div class="preview-message tw">{{previewText}}</div>
          </div>
          <p class="help-block"><span class="counter safe"></span> characters remaining.</p>
        </div>    
      </div>
	
    </div>
	<div class="buttons tw_create_buttons">
        <button type="button" class="btn btn-info showTweetFormBtn pull-right">Customize this Tweet</button>
        {{#if showPostButtons}}
        <div class="row controls">
          <button class="btn btn-info btn-success-sm twitterPostBtn" type="submit">Submit</button>
        </div>
        {{/if}}
      </div>
</div>
<div class="tw_form_container col-md-6">
   <form class="promoRequestFormTwitter" style="display:none">
	 <div class="row">

              <h4>Customize Tweet</h4>
     </div>
    <div class="row">
<h5>Edit content for your tweet</h5>
      <label for="description">Tweet</label>
      <textarea class="form-control span3 tweetMessage description_preview" name="message" placeholder="Tweet">{{previewText}}</textarea>
      <p class="help-block"><span class="counter"></span> characters remaining.</p>
    </div>
  <div class="row">	

      <h5>Add a Web link to your tweet</h5>
      <div class="radio">
        <label>
          <input type="radio" name="linkRadios" id="linkLR" value="lr" checked class="tw-lrLink-box">
         Include link to Local Ruckus event page
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="linkRadios" id="linkCustom" value="custom" class="tw-cusLink-box">
          Include my own link
        </label>
      </div>
      <div class="inputLink" style="display:none">
        <input type="url" class="form-control customLinkBox" name="linkBox" placeholder="http://www.somelink.com/" />
      </div>

  </div>
  <div class="row" style="margin-bottom:50px;">
<h5>Schedule your tweet</h5>
    <div>
      <div class="radio col-md-5">
        <label><input type="radio" name="schedRadios" id="immediate" value="imm" checked class="tw-immediate-box">Post Immediately</label>
      </div>
      <div class="radio col-md-7">
        <label><input type="radio" name="schedRadios" id="scheduled" value="sch" class="tw-scheduled-box">Schedule the post for later</label>
      
      <div class="row inputTimes" style="display:none">
        <div class="col-md-12 twPostDate">
          <label for="start">Date</label>
          <input type="text" class="form-control datePicker twPromoDate" name="date">
        </div>
        <div class="col-md-12 twPostTime">
          <label for="startTime">Time</label>
          <input type="text" class="form-control timepicker twStartTime" name="startTime">
        </div>
      </div>
</div>
      {{#if showPostButtons}}
      <div class="row controls">
        <button class="btn btn-info btn-success-sm twitterPostBtn" type="submit">Submit</button>
      </div>
      {{/if}}
    </div>
  </div>
  </form>
</div>
</div>
{{else}}
  <div class="col-xs-12 col-lg-8" id="twitterAuthPanel">
    <div class="row">
      <h3>No Twitter account linked</h3>
      <p>This business does not have any Twitter accounts linked to it yet. To promote to Twitter, please click the link below and authorize us to use your Twitter account</p>
      <p class="social-connection tw-not-auth"><a class="twitter socialNotConnected" id="{{_id}}" href="#"><img  src="/client/images/twitter-not-connected.png">Connect Twitter account</a></p>
    </div>
  </div>
{{/if}}