
<div class="row">
  <form class="form-inline" role="form">
    <div class="row">
      <div class="col-8">
        {{#if isNew}}
        <legend><img src="/client/images/icon-magic-wand.png">&nbsp;Create New Event <span class="required text pull-right">*required</span></legend>
        {{else}}
        <legend><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Event <span class="required text pull-right">*required</span></legend>
        {{/if}}
        {{#if isNew}}
        <div class="col-md-4 {{#if hasSingleBusiness}}hide{{/if}}">
  		    <label for="business"><i class="glyphicon glyphicon-ok"></i>For This Business</label>
          <select name="business" class="business select-chosen form-control">
            {{#each businesses}}
              <option value="{{id}}">{{attributes.name}}</option>
            {{/each}}      
          </select>
        </div>
        {{/if}}
      </div>   
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="name"><i class="glyphicon glyphicon-star"></i>Event Name<span class="required">*</span></label>
        <input type="text" class="form-control name" name="name" placeholder="Event Name">
      </div>
      <div class="col-md-2">
        <label for="start"><i class="glyphicon glyphicon-calendar"></i>When<span class="required">*</span></label>
        <input type="text" class="form-control datePicker startDate" name="start"  placeholder="Event Date">
      </div>
      <div class="col-md-2">
        <label for="startTime"><i class="glyphicon glyphicon-time"></i>Start Time<span class="required">*</span></label>
        <input type="text" class="form-control timepicker startTime" name="startTime"  placeholder="Start Time">
      </div>
      <div class="col-md-2">
        <label for="endTime"><i class="glyphicon glyphicon-time"></i>End Time</label>
        <input type="text" class="form-control timepicker endTime" name="endTime"  placeholder="End Time">
      </div>            
      <div class="col-md-2">
        <input type="checkbox" name="recurring" class="repeats"/> <label>This event repeats</label>
      </div>
    </div>

    <div class="row recurringScheduleDetails">
      <div class="col-md-2">
        <label for="recurrenceInterval"><i class="glyphicon glyphicon-repeat"></i>Repeats</label>
        <select name="recurrenceInterval" class="form-control">
          <option value="DAILY">Every Day</option>
          <option value="WEEKLY">Weekly</option>
          <option value="MONTHLY">Monthly</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="end"><i class="glyphicon glyphicon-calendar"></i>Schedule Until<span class="required">*</span></label>
        <input type="text" class="form-control datePicker endDate" name="end"  placeholder="Event Date">              
      </div>
      <div class="col-md-2 dayOfWeekCountContainer">
        <label for="dayOfWeekCount">On the</label>
        <select name="dayOfWeekCount" class="form-control">
          <option value="1">First</option>
          <option value="2">Second</option>
          <option value="3">Third</option>
          <option value="4">Fourth</option>
          <option value="0">Last</option>
        </select>
      </div>
      <div class="col-md-2 dayOfWeekContainer">
        <input type="checkbox" name="MONDAY" value="2" /> <label>Monday</label><br />
        <input type="checkbox" name="TUESDAY" value="3" /> <label>Tuesday</label><br />
        <input type="checkbox" name="WEDNESDAY" value="4" /> <label>Wednesday</label><br />
        <input type="checkbox" name="THURSDAY" value="5" /> <label>Thursday</label><br />
      </div>
      <div class="col-md-2 dayOfWeekContainer">
        <input type="checkbox" name="FRIDAY" value="6" /> <label>Friday</label><br />
        <input type="checkbox" name="SATURDAY" value="7" /> <label>Saturday</label><br />
        <input type="checkbox" name="SUNDAY" value="1" /> <label>Sunday</label><br />        
      </div>
    </div>

    <div class="row no-bottom-margin">
      <div class="col-md-4 gray-tags">
        <div class="gray-tags">
          <label for="tags">Event Categories</label>
          <select class="form-control select-chosen" multiple="true" name="tags">
            {{#each eventTags}}
              <option value="{{attributes.slug}}">{{attributes.text}}</option>
            {{/each}}
          </select>
         </div>
      </div>
      <div class="col-md-4 address-finder">
        <label for="host"><i class="glyphicon glyphicon-map-marker"></i>Venue<span class="required">*</span></label>  
		    <a class="addressButton"><i class="glyphicon glyphicon-plus pull-right"></i></a>  
        <select type="text/input" name="host" class="form-control host select-chosen">
          {{#each businesses}}
            <option value="{{id}}">{{attributes.name}}</option>
          {{/each}}
          {{#each venues}}
            <option value="{{id}}">{{attributes.name}}</option>
          {{/each}}                
        </select>
      </div>
        
      <div class="col-md-2">
        <label for="cost"><i class="glyphicon glyphicon-usd"></i>Cost</label>
        <input type="text" name="cost" value="0" class="form-control" placeholder="Cost"/>
      </div>
      <div class="col-md-2">
        <label for="ticketUrl"><i class="glyphicon glyphicon-shopping-cart"></i>Ticketing Link</label>
        <input type="text" name="ticketUrl" class="form-control" placeholder="Ticketing Link"/>        
      </div>            
    </div>
    <div class="row">
      <div class="col-md-8">
        <div>
          <label for="description"><i class="glyphicon glyphicon-pencil"></i>Description<span class="required">*</span></label>
          <textarea class="form-control description" name="description" placeholder="Description"></textarea>
        </div>
        <div class="event-website">
        	<label for="website"><i class="glyphicon glyphicon-globe"></i>Event Website</label>
          <input type="url" class="form-control" name="website"  placeholder="Event Website"/>
        </div>
        <div>
      		<label for="contact"><i class="glyphicon glyphicon-user"></i>Event Contact</label>
  	      <input type="text" class="form-control" name="contactName"  placeholder="Event Contact"/>
      	</div>
      	<div>
  			  <label for="phone"><i class="glyphicon glyphicon-phone"></i>Event Phone</label>
  		    <input type="phone" class="form-control" name="contactPhone"  placeholder="Event Phone"/>
    		</div>
      </div>
      <div class="col-md-4" id="image-chooser-container">
        <label for="imageUrl"><i class="glyphicon glyphicon-picture"></i>Event Image</label>
        <div class="well">      
          <img src="{{imageUrl}}" class="currentImage" />
          <div class="image-controls">
            <div class="imageChooser"></div>
  	         {{#if hasMedia}}
            <a class="browseLibBtn pull-right" data-toggle="modal" data-target="#media-library-popover-{{id}}">Browse Library</a>
            {{/if}}
          </div>

         </div>
         <div class="default-image-actions"><a href="#" class="btn btn-info btn-block change-image-btn">Change Image</a></div>
      </div>
      <div class="col-md-4 promotion-selection">
        <label class="form-label"><input type="checkbox" class="checkbox promote-checkbox" />&nbsp;Post event to social media channels now</label>
      </div>
      <div class="col-md-4 edit-actions">
         <div><a type="cancel" class="btn btn-default pull-right cancel">Cancel</a>&nbsp;
         {{#if isNew}}
          <a type="submit" class="btn saveButton">Create</a>
        {{else}}
          <a type="submit" class="btn saveButton">Update</a>
        {{/if}}
         </div>
      </div>
    </div>
    </div>        
  </form>
</div>
<div class="modal fade" id="media-library-popover-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>My Media Library</h4>
      </div>
      <div class="modal-body library-contents">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>