
<div class="row">
  <form class="form-inline" role="form">  
    <div class="row">
      <div class="col-md-12 preview-container preview">
        <div class="web-preview">
          <div class="thumbnail">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-justified main-pills">
              <li class="web_tab active"><a href="#web" data-toggle="tab">Web Preview</a></li>
              <li class="facebook_tab"><a href="#facebook" data-toggle="tab" class="fb_tab_a" >Facebook Preview</a></li>
              <li class="facebook_event_tab"><a href="#facebook-event" class="fbEvent_tab_a"  data-toggle="tab">Facebook Event Preview</a></li>
              <li class="twitter_tab"><a href="#twitter" class="twitter_tab_a" data-toggle="tab">Twitter Preview</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="web">
                
                <div class="row">
                  <div class="col-md-12">
                    <legend>
                    <input type="text" class="form-control name" name="name" placeholder="Event Name">
					</legend>
					<input type="text" class="form-control datePicker startDate" name="start"  placeholder="Event Date">
                  </div>
</div>
   <div class="row">
                  <div class="col-md-6">

                    <div class="col-md-12 col-sm-6"><label for="startTime">Start:</label>
                    <input type="text" class="form-control timepicker startTime" name="startTime"  placeholder="Start Time"><label for="endTime">End:</label>
                    <input type="text" class="form-control timepicker endTime" name="endTime"  placeholder="Click To Add">
</div><div class="col-md-12 col-sm-6">
                    <input type="checkbox" name="recurring" class="repeats"/> <label>Repeats</label></div>
                   


                <div class="row recurringScheduleDetails">
                  <div class="col-md-2">
                    <label for="recurrenceInterval"><i class="glyphicon glyphicon-repeat"></i>Repeats</label>
                    <select name="recurrenceInterval" class="form-control">
                      <option value="DAILY">Every Day</option>
                      <option value="WEEKLY">Weekly</option>
                      <option value="MONTHLY">Monthly</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="end"><i class="glyphicon glyphicon-calendar"></i>Until<span class="required">*</span></label>
                    <input type="text" class="form-control datePicker endDate" name="end"  placeholder="Event Date">              
                  </div>
                  <div class="col-md-2 dayOfWeekCountContainer">
                    <label for="dayOfWeekCount">On the</label>
                    <select name="dayOfWeekCount" class="form-control">
                      <option value="1">First</option>
                      <option value="2">Second</option>
                      <option value="3">Third</option>
                      <option value="4">Fourth</option>
                      <option value="0">Last</option>
                    </select>
                  </div>
                  <div class="col-md-2 dayOfWeekContainer">
                    <input type="checkbox" name="MONDAY" value="2" /> <label>Monday</label><br />
                    <input type="checkbox" name="TUESDAY" value="3" /> <label>Tuesday</label><br />
                    <input type="checkbox" name="WEDNESDAY" value="4" /> <label>Wednesday</label><br />
                    <input type="checkbox" name="THURSDAY" value="5" /> <label>Thursday</label><br />
                  </div>
                  <div class="col-md-2 dayOfWeekContainer">
                    <input type="checkbox" name="FRIDAY" value="6" /> <label>Friday</label><br />
                    <input type="checkbox" name="SATURDAY" value="7" /> <label>Saturday</label><br />
                    <input type="checkbox" name="SUNDAY" value="1" /> <label>Sunday</label><br />        
                  </div>
                </div>

                <div class="col-md-12 col-sm-6">
				<label for="host">Venue:</label>  
               <div class="choose_venue"> 
                  <select type="text/input" name="host" class="form-control host select-chosen">
                    {{#each businesses}}
                      <option value="{{id}}">{{attributes.name}}</option>
                    {{/each}}
                    {{#each venues}}
                      <option value="{{id}}">{{attributes.name}}</option>
                    {{/each}}                
                  </select>
                  <a class="addressButton" data-toggle="tooltip" title="Click here to add a custom address" data-placement="right" data-html='true'><i class="glyphicon glyphicon-plus pull-right"></i></a> 
                </div>
                <div class="custom_venue" style="display:none">
                  <input type="text" class="form-control hostAddress" name="hostAddress" />
                  <a class="venueButton" data-toggle="tooltip" title="Click here to remove a custom address and choose another venue from a list or enter a new custom address." data-placement="right" data-html='true'><i class="glyphicon glyphicon-minus pull-right switch_venue"></i></a> 
                </div>
				</div>
                <div class="col-md-12 col-sm-6">
                  <div class="gray-tags">
                    <div class="gray-tags">
                      <label for="tags">Event Categories:
                        <a class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" title="Categories help customers discover your event - Try <em>Historical</em> or <em>Rockabilly</em>" data-placement="right" data-html='true'></a>
                      </label>
                      <select class="form-control select-chosen" multiple="true" name="tags">
                        {{#each eventTags}}
                          <option value="{{attributes.slug}}">{{attributes.text}}</option>
                        {{/each}}
                      </select>
                     </div>
                    
                    
      				</div>
</div>
                    <div class="col-md-12 col-sm-6">
                    <label for="cost">Cost:</label>
                    <a class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" title="Your cost should be a number, e.g. 9.99." data-placement="right"></a></label>
                    <input type="text" name="cost" value="0" class="form-control" placeholder="Click To Add"/>
					</div>
                    <div class="col-md-12 col-sm-6">
                    <label for="ticketUrl">Ticket Link:</label>
                    <input type="text" name="ticketUrl" class="form-control" placeholder="Click To Add"/>        
                 	</div>
					<div class="col-md-12">
	                      <label for="website">Event Website:</label>
	                      <input type="url" class="form-control" name="website"  placeholder="Click To Add"/>
	    				</div>
	                    <div class="col-md-12">
	                      <label for="contact">Event Contact:</label>
	                      <input type="text" class="form-control" name="contactName"  placeholder="Click To Add"/>
							</div>
		                    <div class="col-md-12">
	                      <label for="phone">Event Phone:</label>
	                      <input type="phone" class="form-control" name="contactPhone"  placeholder="Click To Add"/>
	                    </div>
                    <div class="col-md-12 col-sm-6">           
            
                    <div class="description-container">
                      <div id="toolbar" class="btn-toolbar" href="javascript:;" unselectable="on" role="toolbar" style="display: none;margin-bottom:0px;">
                        <nav class="nav navbar-form"> 
                          <div class="btn-group pull-right">
                            <a class="btn btn-small btn-default" data-wysihtml5-command="bold" title="CTRL+B" title="Bold Text"><i class="glyphicon glyphicon-bold"></i></a> 
                            <a class="btn btn-small btn-default" href="javascript:;" unselectable="on" data-wysihtml5-command="italic" title="CTRL+I" title="Italicize Text"><i class="glyphicon glyphicon-italic"></i></a>
                            <a class="btn btn-small btn-default" data-wysihtml5-command="insertUnorderedList" href="javascript:;" unselectable="on" title="Create a List"><i class="glyphicon glyphicon-list"></i></a>
                            <a class="btn btn-small btn-default" href="javascript:;" unselectable="on" data-wysihtml5-command="insertSpeech" title="Dictate your event description"><img class="microphone" src="/client/images/microphone_icon.png"></a>
                          </div>
                        </nav>
                      </div>
                      <textarea class="form-control description" name="description" placeholder="Description" id="description-textarea"></textarea>
                     
                    </div>     
                   
                  </div>
                  	</div>
                  
  
              	<div class="col-md-6" id="image-chooser-container">
                  <div style="display:inline;;margin-bottom:0px!important;">
                    <a class="helpTip" data-toggle="tooltip" title="<ul><li>Your image should be in .jpg, .png, or .gif format.</li><li>Choose a high resolution image. Hoopla.io will automatically scale your image.</li><li>For best results across our media partners, we recommend a size of 1024px wide and 576px high.</li></ul>" data-placement="bottom" data-html='true'><span class="glyphicon glyphicon-question-sign"></span></a>    
                  </div>
                  <div class="well">
                    {{#if imageUrl}}      
                      <img src="{{imageUrl}}" class="currentImage" />
                    {{/if}}
                    <div class="image-controls">
                      <div class="imageChooser"></div>
                       {{#if hasMedia}}
                      <a class="browseLibBtn pull-right" data-toggle="modal" data-target="#media-library-popover-{{id}}">Browse Library</a>
                      {{/if}}
                    </div>
<div class="default-image-actions pull-right"><a href="#" class="change-image-btn">Change Image</a></div>
                  </div>
                  
				
					<div class-"col-md-12">
                      <a href="http://localruckus.com/event/{{_id}}" target="_blank" class="btn btn-success">View on LocalRuckus.com</a>
					</div>
					<div class-"col-md-12">
                      <a type="submit" class="btn saveButton pull-right hidden-xs">Update</a>
                      <a type="cancel" class="btn btn-default cancel pull-right hidden-xs">Cancel</a>&nbsp;
                    </div>
                  <div class="col-md-3 hidden-md hidden-sm hidden-lg mobile controls">
                    <div>
                      <a href="http://localruckus.com/event/{{_id}}" target="_blank" class="btn btn-success btn-block">View on LocalRuckus.com</a>
                      <a type="submit" class="btn btn-success btn-block">Update</a>
                      <a type="cancel" class="btn btn-default btn-block cancel">Cancel</a>&nbsp;
                    </div>
                  </div>
                </div></div>                </div>
              <div class="tab-pane fade" id="facebook">
                <div class="row facebook_container">
                  
                </div>
                <div class=" row scheduled_facebook_posts">
                  <!-- Nav tabs -->
                  <ul class="nav nav-pills posts-pills">
                    <li class="active"><a href="#scheduled-posts" style="width:250px;" data-toggle="tab">Scheduled Posts <span class="badge scheduled-posts-badge pull-right"></span></a></li>
                    <li><a href="#history-posts" data-toggle="tab" style="width:250px;">Post History <span class="badge past-posts-badge pull-right"></span></a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active fade in" id="scheduled-posts"><div class="schedule-posts-empty-state" style="display:none"><p>You have not scheduled any posts about this event.</p></div></div>
                    <div class="tab-pane" id="history-posts"><div class="past-posts-empty-state" style="display:none"><p>You have not scheduled any posts about this event.</p></div></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="facebook-event">
                <div class="row facebook_event_container">
                </div>
                <div class="row facebook-event-status"></div>
              </div>
              <div class="tab-pane fade" id="twitter">
                <div class="twitter_container">
                  
                </div>
                <div class="scheduled-tweets-container">
                  <ul class="nav nav-pills tweets-pills">
                    <li class="active"><a href="#tweet-scheduled" style="width:250px;" class="active" data-toggle="tab">Scheduled Tweets <span class="badge scheduled-tweets-badge pull-right"></span></a></li>
                    <li class=""><a href="#tweet-history" style="width:250px;" data-toggle="tab">Tweet History <span class="badge past-tweets-badge pull-right"></span></a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active fade in" id="tweet-scheduled">
                      <div class="schedule-tweets-empty-state" style="display:none"><p>You have not scheduled any tweets about this event.</p></div>
                    </div>
                    <div class="tab-pane" id="tweet-history"><div class="past-tweets-empty-state" style="display:none"><p>You have not tweeted about this event in the past.</p></div></div>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
       
        <div class="connect-help" style="display:none;">
          <div class="col-md-8"><span>To take advantage of the Social Media services you must first connect your Facebook and Twitter accounts to Hoopla.io. To do so visit <a href="/myBusinesses" onClick = "return confirm('Whoa, all your event data will be lost and will need to be rentered. Are you sure you want to do this?')" class="link-businesses" style="color:black;">My Businesses</a> , find the business you would like to authorize us to post for and click the bullhorn icon on the right hand side. After that you will be able to promote all of your events to these social media outlets with very little effort.</span>
          </div>
        </div>
      </div>
    </div>
  

      </div>
     
        </div>
      </div>
    </div>
  </div>        
  </form>
</div>
<div class="modal fade" id="media-library-popover-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>My Media Library</h4>
      </div>
      <div class="modal-body library-contents">
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-info">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>