   <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row panel-title">
        <div class="col-md-3 date">
          {{dateText}}
          <a class="accordion-toggle">
            {{#if isRecurring}}
            <a class="showOccurrences" data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}"><i class="glyphicon glyphicon-circle-arrow-up showOccurrences"></i></a>
            {{/if}}
          </a>
        </div>
        <div class="col-md-3 event-title">
          <a class="inlineEditButton" data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}">{{name}}</a>
        </div>
        <div class="col-md-3 business-name">
          {{businessName}}
        </div>
        <div class="col-md-3">
          <a class="deleteButton"><i class="glyphicon glyphicon-trash"></i></a>
        </div>                 
      </div>
    </div>
    <div id="collapse{{_id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="inlineEdit"></div>
        <div class="recurrenceList"></div>
      </div>
    </div>
  </div>   