{{#if isPost}}
<tr class="">
  <td class="col-md-3 pr-date">
    <div class="row heading">{{#if past}}Date Posted{{else}}Scheduled Date{{/if}}</div>
    <div class="row"><p>{{formattedTime}}</p></td>
  {{#if imageUrl}}
  <td class="col-md-1 pr-image-container">
    <img class="pr-image" src="{{imageUrl}}" alt="promotion image" />
  </td>
  {{/if}}
  <td class="col-md-6  pr-message-container">
    <div class="row heading">Posted to {{handle}}</div>
    <div class="row"><p class="pr-message">{{message}}</p></div>
  </td>
  <td class="controls col-md-2">
    {{#if past}}<a class="btn btn-default" href="{{{postUrl}}}" target="_blank">{{buttonText}}</a>{{/if}}
    {{#if future}}<a class="delete-pr" href="#"><i class="deleteButton glyphicon glyphicon-remove-circle"></i></a>{{/if}}
  </td>
</tr>
{{else}}
  <td class="col-md-1 facebook-event-actions">
    <a href="{{{postUrl}}}"class="btn btn-default" target="_blank">{{buttonText}}</a>
  </td></tr>
{{/if}}