<form role="form" class="form-inline">

    <div class="col-md-12 col-sm-12 col-lg-12">
      {{#if isNew}}
      <legend><img src="/client/images/icon-magic-wand.png">&nbsp;Create Business Profile <span class="required text pull-right">*required</span></legend>
      {{else}}
      <legend><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Business Profile <span class="required text pull-right">*required</span></legend>
      {{/if}}
    </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div>
        <label for="name"><i class="glyphicon glyphicon-star"></i>Business Name<span class="required">*</span></label>
        <input type="text" class="form-control name" name="name" placeholder="Business Name">
      </div>   
      <div class="geoLocation">
      </div> 
      <div>
        <label for="description"><i class="glyphicon glyphicon-pencil"></i>Description<span class="required">*</span></label>
         <div id="toolbar" class="btn-toolbar" rol="toolbar" style="display: none;">
            <div class="btn-group">
            <a class="btn btn-small btn-default" data-wysihtml5-command="bold" title="CTRL+B">Bold</a> 
            <a class="btn btn-small btn-default" data-wysihtml5-command="italic" title="CTRL+I">  Italic</a>
            <a class="btn btn-small btn-default" data-wysihtml5-command="insertUnorderedList" href="javascript:;" unselectable="on">List</a>
            <a class="btn btn-small btn-default" data-wysihtml5-command="insertSpeech">Speech</a></div>
          </div>
        
        <textarea class="form-control description" name="description" placeholder="Description" id="description-textarea"></textarea>
      </div>          
      <div>
        <label class=""><i class="glyphicon glyphicon-globe"></i>Business Website</label>
        <input type="url" class="form-control" name="website" placeholder="Website" />
      </div>    
      <div>
        <label class=""><i class="glyphicon glyphicon-user"></i>Contact Name</label>
        <input type="text" class="form-control" name="contactName" placeholder="Name" />
      </div>
      <div>
        <label class="">Contact Email</label>
        <input type="email" class="form-control email" name="contactEmail" placeholder="Email" />
      </div>        
      <div>
        <label class=""><i class="glyphicon glyphicon-phone"></i>Contact Phone</label>
        <input type="phone" class="form-control phone" name="contactPhone" placeholder = "Phone"/>
      </div>          
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div>
        <label for="imageUrl"><i class="glyphicon glyphicon-picture"></i>Business Logo</label>
        <div class="well"  id="image-chooser-container">    
          <div class="profileImage">
            {{#if imageUrl}}
              <img src="{{imageUrl}}" class="currentImage"/>
            {{/if}}
          </div>
          <div class="image-controls">
            <div class="imageChooser"></div>
              {{#if hasMedia}}
                <a class="pull-right" data-toggle="modal" data-target="#media-library-popover-{{id}}">Browse Library</a>
              {{/if}}
            </div>
          </div>
           <div class="default-image-actions"><a href="#" class="btn btn-success change-image-btn">Change Image</a></div>
        </div>
   
      <div>
        <label class=""><i class="glyphicon glyphicon-cog"></i>Facebook Profile URL</label>
        <input type="url" name="facebookUrl" class="form-control facebook" placeholder="Facebook Profile URL"/>
      </div>
      <div>
        <label class=""><i class="glyphicon glyphicon-cog"></i>Twitter Profile URL</label>
        <input type="url" class="form-control twitter" name="twitterUrl" placeholder="Twitter Profile URL"/>
      </div>
      <div>
        <label class=""><i class="glyphicon glyphicon-cog"></i>Foursquare Profile URL</label>
        <input type="url" class="form-control foursquare" name="foursquareUrl" placeholder="Foursquare Profile URL"/>
      </div> 
      <div class="pull-right">
<a class="btn btn-default cancel">Cancel</a>
        {{#if isNew}}
          <button type="submit" class="btn btn-success saveButton">Submit</button>
        {{else}}
          <button type="submit" class="btn btn-success saveButton">Update</button>
        {{/if}}
        
      </div>               
    </div>
  </div>
</form>
<div class="modal fade" id="media-library-popover-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>My Media Library</h4>
      </div>
      <div class="modal-body library-contents">
      </div>
      <div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Save changes</button>
        
      </div>
    </div>
  </div>
</div>
