<div class="row">
  <div class="col-md-3">
    {{name}}
  </div>
  <div class="col-md-3">
    <p>Collaborators will go here</p>
    <div class="collaborators">

    </div>
  </div>
  <div class="col-md-3">
    {{location.address}}
  </div>
  <div class="col-md-1">
    <a class="btn edit">Edit Me</a>
  </div>      
  <div class="col-md-2 promotionTargets">
    {{#if facebookConnected}}
      <a class="facebook connected">f</a>
    {{else}}
      <a class="facebook" href="{{facebookConnectUrl}}">f</a>
    {{/if}}
    {{#if twitterConnected}}
      <a class="twitter connected">t</a>
    {{else}}
      <a class="twitter" href="">t</a>
    {{/if}}    
  </div>        
</div>