<div class="row">
  <div class="col-md-3">
    {{#if imageUrl}}
        <img src="{{imageUrl}}" class="currentImage"/>
    {{/if}}
  </div>
  <div class="col-md-3">
    <div>{{name}}</div>
    {{location.address}}
  </div>
  <div class="col-md-3">
    <div class="collaborators"></div>
  </div>
  <div class="col-md-1">
    <a class="btn edit">Edit</a>
  </div>      
  <div class="col-md-2 promotionTargets">
    {{#if facebookConnected}}
      <a class="facebook connected">f</a>
    {{else}}
      <a class="facebook" href="{{facebookConnectUrl}}">f</a>
    {{/if}}
    {{#if twitterConnected}}
      <a class="twitter connected">t</a>
    {{else}}
      <a class="twitter" href="{{twitterConnectUrl}}">t</a>
    {{/if}}    
  </div>        
</div>