
  <div class="col-sm-6 col-md-5 col-lg-4">
    <div class="well">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#{{{_id}}}">
          <img data-src={{{thumbUrl}}} src={{{thumbUrl}}} class="media-item" alt="media image" />
        </a>
        <div class="caption" style="margin-top:4%">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              {{#if imageName}}
                <h5>{{imageName}}</h5>
              {{else}}
                <h5></h5>
              {{/if}}
            </div>

            <div class="pull-right buttons"><a data-toggle="modal" data-target="#{{{_id}}}" class="enlarge"><i class="glyphicon glyphicon-search"></i></a>   <a href="#" class="deleteButton"><i class="deleteItem glyphicon glyphicon-remove-circle"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>
<div class="modal fade" id="{{{_id}}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <a href="#" class="deleteButton pull-right" data-dismiss='modal'><i class="deleteItem glyphicon glyphicon-remove-circle"></i></a>
          {{#if imageName}}
            <h4 class="modal-title">{{imageName}}</h4>
          {{else}}
            <h4 class="modal-title"></h4>
          {{/if}}
        </div>
        <div class="modal-body">
          <img data-src={{{fullUrl}}} src={{{fullUrl}}} class="media-item" alt="media image" />
        </div>
      
      </div>
    </div>
  </div>